run_mailscanner=1
q_days=30
ms_cron_av=0
ms_cron_sa=1
ms_cron_ps=1
ms_cron_sn=0
ms_cron_check=1
ms_cron_msg_alert=0
ramdisk_sync=0
ramdisk_store=/var/spool/MailScanner/ramdisk_store
ms_etc=/etc/MailScanner
ms_core=/usr/share/MailScanner
ms_lib=/usr/lib/MailScanner
ms_conf=/etc/MailScanner/MailScanner.conf
ms_vs_conf=/etc/MailScanner/virus.scanners.conf
stopped_lockfile=/var/lock/subsys/MailScanner.off
ms_re2c=/usr/bin/re2c

