queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
mail_owner = postfix
inet_interfaces = all
inet_protocols = all
myhostname= {{ postfix_myhostname }}
mydestination = $myhostname, localhost.$mydomain, localhost
mynetworks = {{ postfix_mynetworks }}
unknown_local_recipient_reject_code = 550
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
  
debug_peer_level = 2
debugger_command =
	 PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
	 ddd $daemon_directory/$process_name $process_id & sleep 5
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
setgid_group = postdrop
html_directory = no
manpage_directory = /usr/share/man
#sample_directory = /usr/share/doc/postfix-2.10.1/samples
#readme_directory = /usr/share/doc/postfix-2.10.1/README_FILES

# relay part
transport_maps = hash:/etc/postfix/transport
relay_domains = {% for domain in relay_domains %}{{ domain.item }}{% if not loop.last %},{% endif %}{% endfor %}

{% if postfix_filter_recipients %}
relay_recipient_maps = hash:/etc/postfix/relay_recipients
{% endif %}

# mailscanner part
header_checks = regexp:/etc/postfix/header_checks

# TLS - client part
smtp_tls_CAfile=/etc/pki/tls/certs/ca-bundle.crt
smtp_tls_security_level = may
smtp_tls_loglevel = 1
smtp_tls_session_cache_database = btree:/var/lib/postfix/smtp_scache 

{% if postfix_tls_enable %}
# TLS - server part
smtpd_tls_CAfile=/etc/pki/tls/certs/{{ postfix_tls_ca_cert }}
smtpd_tls_cert_file = /etc/pki/tls/certs/{{ postfix_tls_cert }}
smtpd_tls_key_file = /etc/pki/tls/private/{{ postfix_tls_key }}
smtpd_tls_security_level = may
smtpd_tls_loglevel = 1
smtpd_tls_session_cache_database = btree:/var/lib/postfix/smtpd_scache
{% endif %}

# SMTP checks
smtpd_recipient_restrictions = 
    permit_mynetworks,
    reject_unauth_destination,
    check_policy_service unix:private/policyd-spf,
    reject_invalid_hostname,
    reject_unauth_pipelining,
    reject_non_fqdn_sender,
    reject_unknown_sender_domain,
    reject_non_fqdn_recipient,

policyd-spf_time_limit = 3600

