
module httpd-mailwatch 1.0.1;

require {
	type mscan_t;
	type spamd_var_lib_t;
	type mysqld_var_run_t;
	type unreserved_port_t;
	type mysqld_t;
	type mscan_etc_t;
	type etc_mail_t;
	type mscan_exec_t;
	type httpd_t;
	type postfix_etc_t;
	type postfix_public_t;
        type postfix_spool_t;
        type razor_port_t;
        type httpd_t;
        type mscan_spool_t;
	class unix_stream_socket connectto;
	class capability audit_write;
	class tcp_socket { name_bind name_connect accept listen };
	class file { getattr read open ioctl };
	class netlink_audit_socket nlmsg_relay;
	class sock_file write;
	class file { ioctl write execute setattr read rename create open getattr execute_no_trans getattr };
        class fifo_file { write getattr open };
	class dir { write remove_name add_name read };
}

#============= httpd_t ==============
allow httpd_t etc_mail_t:dir read;
allow httpd_t etc_mail_t:file { read getattr open ioctl };
allow httpd_t mscan_etc_t:dir read;
allow httpd_t mscan_etc_t:file { read getattr open };
allow httpd_t mscan_exec_t:file getattr;
allow httpd_t self:capability audit_write;
allow httpd_t self:netlink_audit_socket nlmsg_relay;
allow httpd_t spamd_var_lib_t:dir read;
allow httpd_t spamd_var_lib_t:file { read getattr open ioctl };
allow httpd_t mscan_spool_t:file { read getattr open ioctl };
allow httpd_t postfix_etc_t:file { read getattr open };
allow httpd_t postfix_public_t:fifo_file { write getattr open };
allow httpd_t postfix_spool_t:dir { write remove_name add_name };
allow httpd_t postfix_spool_t:file { rename create setattr };
allow httpd_t postfix_spool_t:file { read write getattr open };


